/*
On doit importer les variables et les placeholders pour pouvoir s'en servir.
Le 'v' est un pseudo nous permettant de ne pas avoir à écrire le namespace variables.$abc à chaque fois.
*/

@use 'variables' as v;
@use 'placeholders';
@use 'mixin' as m;

/* main */
/* Section Exclusivite */
/* Block */
.exclusivite-content{
	padding: 0;
	/* Placeholders - Margin - règle @mixin.*/
    @include m.margin($marging-top 5%, $marging-right 15%);

    /* Element */
    &__float-left{
	float: left;
	/* Placeholders - Margin - règle @mixin.*/
    @include m.margin($marging-right 10%, $marging-left 20%);
    }
  
    /* Element */
    &__flex{
	/* Placeholders - règle @extend.*/
	@extend %flex-center; 
    justify-content: space-between;
	line-height: 5%;
	/* Placeholders - Marginn - règle @mixin.*/
	@include m.margin($marging-right 5%);
    }
   
    &__btn{
	/* Placeholders - Bouton - règle @mixin.*/
    @extend %bouton;
	/* Mixin de btn (différence css) */
    @include m.bouton($neutral-color);
    }

    /* Pseudo classe de l'élément ci-haut */
    &__btn:hover{
	/* Placeholders - Bouton - règle @mixin.*/
    @extend %bouton;
	/* Mixin de btn (différence css) */
    @include m.bouton($accent-color);
    }
}

/* ------------- */
/* MEDIA QUERIES */
/* ------------- */
@media screen and (max-width: 1175px){
	.exclusivite-content__flex{
		flex-direction: column;
		align-items: self-start;
	}
}

@media screen and (max-width: 1080px){
	.exclusivite-content__float-left{
		width: 45%;
		margin-left: 9%;
	}

	.exclusivite-content{
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 100%;
	}

	.exclusivite-content__flex{
		width: 95%;
		flex-direction: row;
	}
}