/*
On doit importer les variables et les placeholders pour pouvoir s'en servir.
Le 'v' est un pseudo nous permettant de ne pas avoir à écrire le namespace variables.$abc à chaque fois.
*/

@use 'variables' as v;
@use 'placeholders';
@use 'mixin' as m;

/* Section Subscription */

/* Block */
.subscription-content{
    /* Placeholders - règle @extend.*/
    @extend %flex-center;    
    justify-content: space-between;
    flex-direction: column;
    line-height: 5%;
    
    /* Élément */
    &__flex-form{
	/* Placeholders - règle @extend.*/
	@extend %flex-center;	
	justify-content: center;
	margin: 15%;
    }

    /* Élément */
    &__btn{
    /* Placeholders - Bouton - règle @extend.*/
	@extend %bouton;
    }

    /* Modificateur */
    &__btn--index{
	/* Placeholders - Bouton - règle @extend.*/
	@extend %bouton;
	/* Mixin de btn (différence css)? */
	@include m.bouton($neutral-color);
    }

    /* Pseudo classe de l'élément ci-haut */
    &__btn--index:hover{
	/* Placeholders - Bouton - règle @extend.*/
	@extend %bouton;
	/* Mixin de btn (différence css)? */
	@include m.bouton($accent-color);
    }
 }

label{
	display: none;
}

input{
	padding: 10px;
	border-radius: 3px;
}

input:focus{
	color: v.$neutral-color;
	background-color: v.$accent-color;
}

input[type='submit']:hover{
	cursor: pointer;
	background-color: v.$secondary-color;
	color: v.$neutral-color;
}

/* Block */
.confirmation-content{
	/* Placeholders - règle @extend.*/
    @extend %flex-center;	
	justify-content: center;
	flex-direction: column;
	line-height: 5%;
	margin-bottom: 10%;
    padding: 5% 5%;
}


/* ------------- */
/* MEDIA QUERIES */
/* ------------- */
@media screen and (max-width: 585px){
	/* Confirmation.html */
	.confirmation-content h2{
		line-height: 1em;
	}

	.confirmation-content{
		display: flex;
		flex-direction: column;
		align-items: center;
		line-height: 1em;
	}
	/* -Fin- Confirmation.html */

	.subscription-content__flex-form{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
















