/*On doit importer les variables et les placeholders pour pouvoir s'en servir.*/
@use 'variables' as v;
@use 'placeholders';

* {
	box-sizing: border-box;
}

/* Generals */
body{
	background-color: v.$primary-color;
	color: v.$primary-color;
	line-height: 1.4;
	font-family: v.$font-stack;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

h1{
	font-family: v.$font-logo;
}

h2, h3, h4 {
	font-family: v.$font-titles;
}

hr{
	color: v.$secondary-color;
	width: 90%;
	margin: 5% 0%;
}

/* header */

/* Block */
.logo {
	width: 5%;
  
	/* Logo footer */
	&--big {
	  width: 150%;
	}
}

header{
	/* Placeholders - règle @extend.*/
	@extend %back-color;
}

/* Block */
.header-content{
	/* Placeholders - règle @extend.*/
	@extend %flex-center;
	justify-content: space-between;
}



/* footer */

footer{
	/* Placeholders - règle @extend.*/
	@extend %back-color;
	margin-top: auto;
}

/* Block */
.footer-content{
	/* Placeholders - règle @extend.*/
	@extend %flex-center;
	flex-direction: column;
	margin: 2em;

	/* Modificateur */
	&__link--small{
	font-size: 0.8em;
	}


	/* Lien caché pour les liseuses. CSS provenant de https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/ */
	&__screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
  	}
}

/* Block */
.flex-dark{
	/* Placeholders - règle @extend.*/
	@extend %flex-center;
	justify-content: space-around;
	color: v.$neutral-color;
	margin-top: auto;
	padding: 2em;

	&__icon{
		/* Placeholders - règle @extend.*/
		@extend %flex-center;
	}

	&__contact{
		/* Placeholders - règle @extend.*/
		@extend %flex-center;
	}

	&__footer-message{
		/* Placeholders - règle @extend.*/
		@extend %flex-center;
	}
}


/* ------------- */
/* MEDIA QUERIES */
/* ------------- */
@media screen and (max-width: 1080px){
	.hide-on-small-screen{
		display: none !important;
	}
}


@media screen and (max-width: 960px){
	.flex-dark{
		align-items: center;
		flex-direction: column;
	}

}

@media screen and (max-width: 585px){
	.header-content img{
		width: 30%;
	}

	.footer-content__link--small{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}