@use "placeholders";


/*
Ce mixin pourra être appelé afin de générer des boutons selon les différents paramètres
On peut appeler un mixin avec la règle @include (voir les boutons dans le fichier _main.scss)
Il faut le voir un peu comme un placeholder (@extend), mais les valeurs des propriétés CSS vont varier selon les valeurs passées en paramètres.
*/
@mixin bouton($btn-padding: 1em 2em, $btn-margin-top: 5%, $btn-border-radius, $btn-color){
    @extend %button;
    padding: $btn-padding;
    margin-top: $btn-margin-top;
    border-radius: $btn-border-radius;
    $btn-color: $secondary-color;
}

@mixin margin($marging-top, $marging-right, $marging-bottom, $marging-left){
    @extend %margin;
    margin-top: $marging-top;
    margin-right: $marging-right;
    margin-bottom: $marging-bottom;
    margin-left: $marging-left;
}