
/*
On doit importer les variables et les placeholders pour pouvoir s'en servir.
Le 'v' est un pseudo nous permettant de ne pas avoir à écrire le namespace variables.$abc à chaque fois.
*/

@use "variables" as v;

/* Block */
.nav-list {
	list-style: none;


    /* Élément */
    &__list-item {
	    display: inline-block;
	    margin-left: 1em;
    }

    /* Élément */
    &__link {
	    text-decoration: none;
	    display: inline-block;
	    padding: 0.5em 1em;
	    border-radius: 0.4em;
	    text-transform: none;
	    color: v.$secondary-color;
    }

        /* Modificateur */
        &--actuel-header {
	        background-color: v.$secondary-color;
	        color: v.$primary-color;
        }

        /* Modificateur */
        &--actuel-header:hover {
            animation-name: secondary-to-active;
            animation-duration: 2s;
        }

        /* Modificateur */
        @keyframes secondary-to-active{
        from {background-color: v.$secondary-color}
        to {background-color: v.$active-color}
        }

    /* Pseudo classe de l'élément ci-haut */
    &__link:hover {
	    background-color: v.$active-color;
	    color: v.$neutral-color;
    }
}


/* ------------- */
/* MEDIA QUERIES */
/* ------------- */
@media screen and (max-width: 585px){
	.nav-list{
		display: flex;
		flex-direction: column;
	}
}