
/*
Ce fichier contient les placeholders, qui sont des groupes de règles CSS qu'on
peut appeler et réutiliser à l'intérieur d'autres classes à l'aide de la règle @extend.
*/

@use 'variables' as v;


%back-color{
    background-color: v.$neutral-color;	
}


%flex-center{
    display: flex;
    align-items: center;
}

%bouton{
    text-decoration: none;
    text-transform: none;
    $btn-padding: 1em 2em;
    $btn-margin-top: 5%;
    $btn-border-radius: 0.4em;
    color: v.$secondary-color;
}
