
$font-stack: 'Manrope', sans-serif;
$font-titles: 'Bebas Neue', cursive;
$font-logo: 'Gravitas One';

$primary-color: rgb(218, 216, 216);
$secondary-color: #2b2828;
$neutral-color: #f6f2f2;
$active-color: #aba9a8;
$accent-color: rgb(95, 159, 255);