@charset "UTF-8";

/* ressources externes - google fonts instructions */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');





/* Variables globales*/
:root{
	/* Palette de couleurs */
	--primary: rgb(218, 216, 216);
	--secondary: #2b2828;
	--neutral: #f6f2f2; 
	--active: #aba9a8;

	/* Texte */
		/* font-family: 'Gravitas One'; (h1)
		font-family: 'Bebas Neue', cursive; (h2, h3, h4)
		font-family: 'Manrope', sans-serif; (p)
		*/
	--standard-font-size: 1.3rem;
	--normal-font-family: 'Manrope', sans-serif;
	--titles-font-family: 'Bebas Neue', cursive;
}


*{ box-sizing: border-box;}


/* Generals */
body{
	background-color: var(--primary);
	color: var(--secondary);
	line-height: 1.4;
	font-family: var(--normal-font-family);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

h1{
	font-family: 'Gravitas One';
}

h2, h3, h4{
	font-family: var(--titles-font-family);
}




/* header */
/* intégrer font spéciale téléchargé ici */

.logo{
	width:5%;
}

header{
	/* Placeholders - règle @extend.*/
	background-color: var(--neutral);
}

.header-content{
	/* Placeholders - règle @extend.*/
	display: flex;
	align-items: center;

	justify-content: space-between;
}

/* Block */
.nav-list{
	list-style: none;
}

/* Élément */
.nav-list__list-item{
	display: inline-block;
}

/* Élément */
.nav-list__link{
	text-decoration: none;
	display: inline-block;
	padding: 0.5em 1em;
	border-radius: 0.4em;
	text-transform: none;
	color: var(--secondary);
}

/* Modificateur */
.nav-list__link--actuel-header{
	background-color: var(--secondary); 
	color: var(--primary);
}

/* Modificateur */
.nav-list__link--actuel-header:hover{
	animation-name: secondary-to-active;
	animation-duration: 2s;
}

/* Modificateur */
@keyframes secondary-to-active{
from {background-color: var(--secondary)}
to {background-color: var(--active)}
}

/* Pseudo classe de l'élément ci-haut */
.nav-list__link:hover{
	background-color: var(--active);
	color: var(--neutral);
}




/* main */
/* art */

section{
	overflow: hidden;
	padding-top: 50px;
	padding-bottom: 50px;
}






/* footer */

footer{
	/* Placeholders - règle @extend.*/
	background-color: var(--neutral);

	margin-top: auto;
}

/* Block */
.flex-dark{
	display: flex;
	justify-content: space-around;
	background-color: var(--secondary);
	color: var(--neutral);
	margin-top: auto;
	padding: 2em;
}

/* Élément */
.flex-dark__icon{
	/* Placeholders - règle @extend.*/
	display: flex;
	align-items: center;

	justify-content: space-around;
}

/* Élément */
.flex-dark__contact{
	/* Placeholders - règle @extend.*/
	display: flex;
	align-items: center;

	justify-content: space-around;
	}

/* Élément */
.flex-dark__footer-message{
	/* Placeholders - règle @extend.*/
		display: flex;
		align-items: center;

		justify-content: flex-start;
	}





/* Block */
.footer-content{
	/* Placeholders - règle @extend.*/
	display: flex;
	align-items: center;

	justify-content: space-between;
	flex-direction: column;
	margin: 2em;
}

/* Modificateur */
.logo--big{
	width: 150%;
}

/* Modificateur */
.footer-content__link--small{
	font-size: 0.8em;
	/* variation couleur */
}


